<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422044088607-icl3m5n32do57p2v7hqgeit9ov0oo82q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422044088607-icl3m5n32do57p2v7hqgeit9ov0oo82q</string>
	<key>API_KEY</key>
	<string>AIzaSyDJIbs6nzXcdWGvv-RQICv0PDNv-9Az6jI</string>
	<key>GCM_SENDER_ID</key>
	<string>422044088607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loma.app.loma</string>
	<key>PROJECT_ID</key>
	<string>loma-4abb5</string>
	<key>STORAGE_BUCKET</key>
	<string>loma-4abb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422044088607:ios:f9566fdaf731142d51182a</string>
</dict>
</plist>